@media only screen and (min-width : 1025px) {
.sc_home-gallery img {
    width: 100%;
    height: 220px;
    object-fit: cover;
}
.sc_tdung-loop .title {
    min-height: 70px;
    display: flex;
    width: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.sc_tdung-loop .oc_title {
    min-height: 47px;
}
.sc_daingo-bt1{
    padding: 0 75px;
}
.single_tuyendung-box{
    padding: 0 75px;
}
.single_tuyendung-box1{
    padding-left: 75px;
}
.single_tuyendung-box2{
    padding-right: 75px;
}
.single_tuyendung-box1 img {
    margin-top: 85px;
}
.sc_quytrinh-content {
    padding: 0 105px;
}
.sc_jobs-top .keep_left{
    padding-right: 70px;
}
.main_menu .sub-menu .menu-item-has-children > a{
    position: relative;
}
.main_menu .sub-menu .menu-item-has-children > a:after{
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\f105";
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}
.desktop_hidden{
    display: none!important;
}
.main_menu .sub-menu .sub-menu {
    position: absolute;
    left: 100%;
    transform: translateX(0);
    top: 0;
}
.main_menu .sub-menu .sub-menu:before{
    display: none;
}
.intro_support a {
    min-width: 130px;
}
.htitle_archive_loop {
    overflow: hidden;
    height: 50px;
    margin-bottom: 10px;
}
.keep_right{
	padding-right: 0;
}
.sc_home-project-els {
    margin-top: 80px;
    padding-bottom: 80px;
}
.sc_home-project-els .keep_left {
    left: 66.6666666%;
}
.sc_home-project-els .keep_right {
    padding-right:15px;
    right: 33.333333%;
    padding-left: 0;
}
.sc_home-project-els .sc_home-project-title:before {
    left: 0;
}
.sc_home-project-els .sc_home-project-top {
    padding-left: 0;
    padding-right: calc((100vw - 1250px)/2);
}
.sc_home-bst-row{
	margin-left: 0;
	margin-right: 0;
}
.sc_home-bst-row > *{
	padding-left: 0;
	padding-right: 0;
}
#sc_contact_box h3 {
    z-index: 10;
    position: relative;
    padding-bottom: 50px;
}
.sc-rimg {
    margin-top: -100px;
}
.col_archive_item_box:nth-child(3n+1){
    clear: left;
}
}
@media only screen and (min-width : 1024px) {
.trigger_menu{
    display: none;
}
.top_menu_mobile{
    display: none!important;
}
}
@media only screen and (max-width : 1024px) {
}
@media only screen and (min-width : 1025px) and (max-width : 1390px){
.sc_home-project-item img {
    height: 220px;
}
}
@media only screen and (max-width : 768px) {
/*body.no-scroll{
    overflow: hidden;
}*/

.single_sidebar,.btn-hotline2{
    display: none!important;
}
.faqsBox .item .title:before,.faqsBox .item .title:after{
    width: 50px;
}
.faqsBox .item .title:after {
    font-size: 20px;
}
.faqsBox .content {
    padding: 15px;
}
.faqsBox .item .title {
    padding: 10px;
    padding-left: 60px;
    padding-right: 30px;
    font-size: 13px;
}
.faqsBoxNoList.faqsBox .item .title{
    padding: 10px 20px;
    padding-right: 30px;
}
.faqsBox .item .title i {
    right: 10px;
    font-size: 17px;
}
a.trigger_menu2 {
    float: right;
    font-size: 25px;
    margin-top: -7px;
}
.main_menu .menu > li:first-child{
    border-top: 0!important;
}
.top_menu_mobile {
    display: block!important;
    position: relative;
    z-index: 10000;
}
.main_menu {
    display: none;
    position: fixed;
    left: -350px;
    top: 0;
    height: 100%;
    background-color: var(--cl-1);
    width: 320px;
    overflow: hidden;
    overflow-y: auto;
    transition: all 0.5s ease-in-out 0s;
    -webkit-transition: all 0.5s ease-in-out 0s;
    display: block;
    opacity: 0;
    padding-top: 20px;
    padding-bottom: 20px;
}
.main_menu.active{
    opacity: 1;
    left: 0;
}
.main_menu li {
    display: block;
    border-top: 1px solid var(--cl-2);
}
.main_menu .sub-menu {
    display: block;
    position: relative;
    background: transparent;
    left: 0;
    transform: translateX(0);
    padding-left: 15px;
}
.main_menu .sub-menu li {
    background: transparent;
    border-bottom: 0;
}
.main_menu a {
    line-height: initial;
    padding: 10px 15px;
    color: var(--cl-2);
}
.main_menu li:hover > a{
    color: #fff;
}
.main_menu .sub-menu:before{
    display: none;
}
.box_video_full {
    height: auto;
}
#sc_video {
    position: relative;
    top: 0;
    transform: translate(0,0);
    left: 0;
}
.sc_home-slide {
    margin-top: -5px;
}
.sc_home-slide-item .content-box {
    position: relative;
}
.sc_home-statics-box {
    display: block;
}
.sc_home-statics-item {
    width: 100%;
}
.sc_home-statics-box {
    display: block;
}
.sc_home-statics-item-number {

}
.sc_home-statics-item br {
    display: none;
}
.sc_home-statics-item .title {
    text-align: right;
    display: block;
    font-size: 25px;
    width: 90px;
}
.sc_home-statics,.sc_home-about{
    padding-top: 0;
    padding-bottom: 0;
}
.sc_home-statics-n{
    border: 0;
}
.sc_home-about .box {
    margin: 15px 0;
}
.tab_title {
    min-width: 50%;
    font-size: 14px;
}
.sc_home-work-body {
    padding-top: 0;
    padding-bottom: 30px;
}
.sc_tab_content_item {
    width: 100%;
    margin-top: 30px;
    margin-bottom: 15px;
}
.sc_tab_content_items {
    display: block;
}
.sc_tab_top_item:after{
    display: none;
}
.sc_tab_top_item {
    margin-top: 0;
    margin-bottom: 60px;
    display: none;
}
.sc_tab_content_item .img img {
    height: 80px;
}
.sc_tab_content_item .img {
    width: auto;
    position: relative;
    transform: translateY(0);
    left: 0;
    top: 0;
    margin-bottom: 15px;
}
.sc_home-project-item {
    margin-top: 15px;
}
.fs-40 {
    font-size: 25px;
}
.sc_home-gallery{
    margin-top: 40px;
    margin-bottom: 15px;
}
.sc_home-gallery .item {
    padding: 2px;
    width: 50%;
}
.sc_home-bst .title {
    font-size: 30px;
    margin-bottom: 15px;
    padding: 0 15px;
    padding-top: 20px;
}
.sc_home-bst{
    padding-top: 0;
    padding-bottom: 0;
}
.sc_home-bst-item {
    display: block;
}
.sc_home-bst-item .io1,.sc_home-bst-item .io2{
    width: 100%;

}
.fs-30{
    font-size: 22px;
}
.sc_home-customer {
    padding-top: 40px;
    padding-bottom: 40px;
}
.sc_home-customer-item {
    margin-top: 5px;
}
.mg-t-70 {
    text-align: center;
    margin-top: 15px;
}
.sc_home-bst-item-slide > * {
    width: 30%;
}
.sc_home-bst-item-slide > div:last-child{
    width: 70%;
}
a.btn-nbgia {
    margin: 0 15px;
    padding: 2px 7px;
}
.sc_header_body {
    width: 100%;
}
.logo {
    flex: 0 0 35px;
}
.sc_header-right {
    align-items: center;
    flex-grow: 1;
    text-align: right;
    display: flow-root;
}
.sc_header_body{
    padding: 10px 0;
}
a.bar_ioc{
    margin-left: 15px;
}
.sc_home-project-title{
    font-size: 27px;
}
.content_p{
    font-size: 14px;
}
.content_p p, .content_p div, .content_p h1, .content_p h2, .content_p h3, .content_p h4, .content_p h5, .content_p h6, .content_p ul, .content_p img, .content_p ol{
    margin-bottom: 14px;
}
a.bar_ioc,.sc_contact-img{
    display: none;
}
.box_meta_single_content {
    display: block;
}
.box_meta_single_content .item {
    border-top: 1px solid #f3f3f3;
    border-left: 0;
}
.wpb_video_wrapper iframe {
    width: 100%;
    height: 300px;
}
.box_meta_single_content .item:first-child {
    border-top: 0;
}
.trigger_menu {
    display: inline-block;
    margin-left: 15px;
}
a.btn-nbgia:after {
    margin-left: 5px;
}
.intro_support {
    display: flex;
    justify-content: space-evenly;
    padding: 5px 0px;
}
.intro_support a {
    margin: 0 0.5px;
    font-size: 11px;
    width: 33.3333%;
    padding: 5px 10px;
}
.intro_support img{
    width: 15px;
    margin-right: 7px;
}
.intro_support {
    padding: 0;
    position: sticky;
}
.mb_hidden{
    display: none!important;
}
.sc_home-baochi{
    padding-top: 30px;
}
.sc_home-bst .title{
    display: none;
}
.io2-doubleMobile1{
    display: none!important;
}
.io2-doubleMobile{
    display: block!important;
}
.io2-doubleMobilen1 .sc_slide{
    margin-top: 0;
}
.mobile_center{
    text-align: center;
}
.archive_filter a{
    border-right: 1px solid #999;
}
.archive_filter a {
    border-right: 1px solid #999;
    width: 47%;
    margin-bottom: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 11px;
    min-width: auto;
    margin-left: 1%;
    margin-right: 1%;
}
.col_archive_item img {
    height: 215px;
}
.sc_single-gallery .item{
    width: 33.33333%;
}
.sc_footer-text p{
    color: #dddddd;
}
.sc_footer-text a{
    color: #dddddd;
}
.sc_home-project-sld-2{
    display: none;
}
.scroll_top {
    display: block;
    background-color: var(--cl-1);
    color: #fff;
    width: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
    position: fixed;
    bottom: 70px;
    right: 15px;
    font-size: 25px;
}
.mobile_none{
    display: none!important;
}
.sc_home-slide .content:after{
    display: none;
}
.box_meta_single_gallery_thumbanil img {
    height: 70px;
}
.main_menu li.current-menu-item > a,.main_menu li.current-post-parent > a{
    color: #fff;
    font-weight: bold;
}
.main_menu a:hover,.main_menu a:focus{
    color: #fff;
}
.search_box input {
    font-size: 12px;
    padding-left: 10px;
    padding-right: 5px;
}
.search_box button {
    font-size: 13px;
    padding-left: 10px;
    padding-right: 10px;
}
.sc_banner-box {
    position: relative;
}
.sc_slide .owl-next {
    right: 0;
}
.sc_slide .owl-prev{
    left: 0;
}
.sc_jobs-pic1 {
    position: relative;
    max-width: 100%;
    top: 0;
}
.sc_jobs-top {
    padding-top: 15px;
    padding-bottom: 15px;
}
.sc_jobs-top .sc_home-project-title {
    margin-bottom: 15px;
}
.sc_jobs-top2-item-i img {
    margin-bottom: 20px;
}
.sc_jobs-top2 {
    padding-top: 50px;
    padding-bottom: 15px;
}
.sc_jobs-top2-items .item {
    margin-top: 20px;
    margin-bottom: 20px;
}
.sc_tabs-nav-bot {
    position: relative;
    left: 0;
    transform: translateY(0);
}
.sc_tabs-nav {
    flex-direction: column;
}
.sc_tabs-nav a {
    text-align: center;
}
.sc_tdung-projects {
    padding-top: 50px;
    padding-bottom: 0;
}
.sc_tdung-loops {
    margin-bottom: 15px;
    margin-top: 15px;
}
.sc_tdung-sbsme-items {
    margin-top: 15px;
}
.sc_tdung-box-videos {
    padding-top: 50px;
    padding-bottom: 15px;
}
#phat_trien_con_nguoi_sbs {
    padding-top: 50px;
}
.sc_phattrien-daotao {
    margin-bottom: 0;
}
.sc_daingo-items .item, #tuyendung_quytrinh .item {
    margin-top: 50px;
    margin-bottom: 50px;
}
.sc_daingo-items .title, #tuyendung_quytrinh .title {
    margin-top: 30px;
}
.sc_daingo-pics {
    margin-top: 15px;
    margin-bottom: 0;
}
.sc_quytrinh-content img {
    margin: auto;
    display: block;
    max-width: 200px;
}
.single_tuyendung-box2 img,.single_tuyendung-box1 img {
    margin-bottom: 30px;
}
.sc_singletd-yeucau .item {
    display: block;
    width: 100%;
    padding: 0;
    margin-bottom: 0;
}
.single_tuyendung .item {
    margin-bottom: 50px;
    margin-top: 50px;
}
}