body {
    font-family: 'Bai Jamjuree', sans-serif;
}

header#sc_header {
    background-color: var(--cl-2);
    width: 100%;
    position: relative;
    z-index: 10;
    display: none;
}

a {
    color: var(--cl-2);
}

a:hover {
    color: #fff;
}

.sc_header_body {
    display: flex;
    align-items: center;
    position: relative;
}

.logo {
    width: 70px;
    background-color: var(--cl-2);
}

.main_menu a {
    display: block;
    line-height: 90px;
    color: #dddddd;
}

.cl {
    color: #fff;
}

.clw {
    color: #fff;
}

.box_video_full {
    position: relative;
    width: 100%;
    height: calc(100vh - 90px);
    overflow: hidden;
}

#sc_video {
    width: 100%;
    height: auto;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.sc_home-slide-item {
    position: relative;
}

.sc_home-slide-item .opacity {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;

}

.sc_home-slide-item .content-box {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    color: var(--cl-2);
    background-color: #fff;
    width: 850px;
    max-width: 100%;
    overflow: hidden;
}

.sc_home-slide-item .title {
    font-weight: bold;
    font-size: 18px;
    border-bottom: 2px solid #000;
    padding: 10px;
}

.sc_home-slide-item .title span {
    font-weight: 700;
    color: #fff;
}

.sc_home-slide-item .content {
    line-height: 1.5;
}

.sc_home-statics {
    position: relative;
    background-size: cover;
    background-position: center center;
    background-color: var(--cl-2);
    padding-top: 50px;
    padding-bottom: 50px;
}

.sc_home-statics-n {
    padding-top: 15px;
    padding-bottom: 15px;
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
}

.sc_home-statics-box {
    display: flex;
    align-items: center;
}

.sc_home-statics-item {
    width: calc(100% / 4);
    display: flex;
    color: #dddddd;
    font-size: 17px;
    padding-left: 15px;
    padding-right: 15px;
    align-items: center;
}

.sc_home-statics-item-number {
    color: #fff;
}

.sc_home-statics-item-number {
    color: #fff;
    font-weight: bold;
}

.sc_home-statics-item .title {
    font-size: 50px;
    display: flex;
    margin-right: 10px;
    color: #fff;
}

.sc_home-project-item {
    position: relative;
    display: block;
    margin-bottom: 30px;
}

.sc_home-project-item img {
    width: 100%;
    height: 280px;
    object-fit: cover;
    transition: all 0.3s ease-in-out 0s;
    -webkit-transition: all 0.3s ease-in-out 0s;
}

.sc_home-project-item .content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #242424;
    -webkit-transform: rotateX(90deg);
    -ms-transform: rotateX(90deg);
    -o-transform: rotateX(90deg);
    transform: rotateX(90deg);
    transition: all 0.3s ease-in-out 0s;
    -webkit-transition: all 0.3s ease-in-out 0s;
}

.sc_home-project-item .title {
    position: absolute;
    top: 15px;
    width: 100%;
    padding: 0 15px;
    text-align: center;
    color: #fff;
    font-size: 17px;
    font-weight: 500;
}

.refLink a {
    position: absolute;
    bottom: 20px;
    left: 15px;
    color: #fff;
}

.sc_home-project-item:hover .content {
    -webkit-transform: rotateX(0deg);
    -ms-transform: rotateX(0deg);
    -o-transform: rotateX(0deg);
    transform: rotateX(0deg);
}

/*.sc_home-project-item:hover img{
	-webkit-transform: rotateX(90deg);
    -ms-transform: rotateX(90deg);
    -o-transform: rotateX(90deg);
    transform: rotateX(90deg);
}*/
.btnSite {
    position: relative;
}

.btnSite span {
    transition: all 0.2s ease-in-out 0s;
    -webkit-transition: all 0.2s ease-in-out 0s;
    display: inline-block;
}

.btnSite .icon {
    width: 15px;
    height: 10px;
    margin-left: 5px;
}

.sc_home-project-item .btnSite {
    color: #000;
    font-size: 12px;
    font-weight: 500;
}

.sc_home-project-item .btnSite:after {
    background-color: #000;
}

.btnSite.cl1 {
    color: #fff;
}

.btnSite.cl1 polygon {
    fill: #fff;
}

.hLine {
    position: relative;
}

.hLine:after {
    display: block;
    content: "";
    width: 150px;
    height: 1px;
    background-color: #fff;
    margin: auto;
    margin-top: 10px;
}

.hLineS:after {
    background-color: #fff;
}

.sc_tab_titles {
    text-align: center;
    display: flex;
    justify-content: center;
}

.tab_title {
    background-color: #fff;
    font-weight: 600;
    font-size: 20px;
    position: relative;
    color: var(--cl-2);
    display: inline-block;
    padding: 10px 30px;
    min-width: 300px;
}

.tab_title.active,
.tab_title:hover {
    background-color: var(--cl-2);
    color: #fff;
}

.tab_title:first-child:before {
    display: none;
}

.sc_tab_content {
    display: none;
}

.sc_tab_content.active {
    display: block;
}

.sc_tab_content_items {
    display: flex;
    text-align: center;
}

.sc_tab_content_item .title {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;
    color: #fff;
}

.sc_tab_top_item {
    position: relative;
}

.sc_tab_bd {
    height: 100px;
    width: 100px;
    display: inline-block;
    border-radius: 5px;
    transform: rotateZ(45deg);
    position: relative;
    z-index: 10;
    display: none;
}

.sc_tab_content_item {
    width: 25%;
    position: relative;
    margin-top: 15px;
}

.sc_tab_line {
    position: absolute;
    top: calc(50% - 3px);
    left: 6px;
    width: calc(100% - 12px);
    height: 2px;
    background-color: #fff;
}

.sc_tab_top_item:after {
    position: absolute;
    content: '';
    width: 31px;
    height: 20px;
    right: -10px;
    top: 55px;
    background-image: url(../images/icon_right_2.png);
}

.sc_tab_content_item:last-child .sc_tab_top_item:after {
    display: none;
}

.sc_tab_content_item .content {
    padding-left: 15px;
    padding-right: 15px;
    color: #dddddd;
}

.sc_tab_content_item .img {
    fill: #fff;
    z-index: 11000;
}

.sc_home-gallery .item {
    width: 25%;
    background-color: #fff;
    padding: 15px;

    top: 0;
    left: 40%;
    position: absolute;
    display: block;
}

/*
.sc_home-gallery .item{
    transition: all 1.5s ease-in-out 0s;
    -webkit-transition: all 1.5s ease-in-out 0s;
}
*/
.sc_home-gallery,
.sc_home-gallery-items {
    position: relative;
}

.sc_home-gallery-items {
    overflow: hidden;
}

.sc_home-gallery img {
    width: 100%;
}

.sc_home-gallery {
    margin-top: 50px;
    margin-bottom: 50px;
}

.hLineL:after {
    margin: 0;
    margin-top: 10px;
}




.s_label,
.wpcf7-form label {
    font-weight: 500;
    font-size: 15px;
    margin-bottom: 7px;
}

.sc_box-input input,
.wpcf7-form input[type="text"],
.wpcf7-form input[type="email"],
.wpcf7-form input[type="tel"] {
    display: block;
    width: 100%;
    border: 1px solid #f3f3f3;
    line-height: 38px;
    padding: 0 10px;
    border-radius: 0;
    background-color: #f3f3f3;
}

.wpcf7-form select {
    display: block;
    width: 100%;
    border: 1px solid #f3f3f3;
    height: 40px;
    padding: 0 10px;
    border-radius: 0;
    background-color: #f3f3f3;
}

.sc_contact {
    background-size: cover;
    background-position: top;
    padding-bottom: 50px;
    margin-top: 50px;
}

.content_p form.wpcf7-form {
    max-width: 565px;
    width: 100%;
    margin-bottom: 50px;
}

.sc_box-input textarea {
    display: block;
    width: 100%;
    border: 1px solid #f3f3f3;
    padding: 10px;
    border-radius: 0;
    height: 100px;
    background-color: #f3f3f3;
}

.sc_box-input {
    margin-bottom: 20px;
}

.sc_text-f1 {
    font-weight: bold;
    font-size: 16px;
}

.sc_text-f2 {
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 25px;
}

.btnSite_form,
.wpcf7-form input[type="submit"] {
    line-height: 40px;
    border: 1px solid #fff;
    display: inline-block;
    padding: 0 15px;
    border-radius: 0;
    color: #fff;
    font-weight: 500;
    background-color: #fff;
}

.btnSite_form:hover {
    box-shadow: 4px 4px 2px 0px #cdcdcd;
}

#sc_footer {
    color: #dddddd;
    padding-top: 30px;
    background-color: var(--cl-2);
}

.sc_footer-title {
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 20px;
    margin-top: 20px;
    color: #fff;
    border-top: 1px solid;
    padding-top: 30px;
    letter-spacing: -0.7px;
}

.sc_footer-text p {
    margin-bottom: 12px;
}

.sc_footer-copyright {
    padding-top: 15px;
    padding-bottom: 10px;
    font-size: 13px;
    margin-top: 15px;
    color: #999;
}

.sc_footer_menu li {
    list-style: none;
    margin-bottom: 12px;
}

.sc_footer_menu a {
    color: #dddddd;
    letter-spacing: -0.6px;
    font-weight: 500;
}

.sc_footer-social a {
    display: inline-block;
    text-align: center;
    font-size: 16px;
    color: #999;
    margin-right: 5px;
}

.sc_footer-social img {
    width: 25px;
}

.sc_home-about .item {
    min-height: 500px;
    color: #fff;
    background-position: center center;
    background-size: cover;
    position: relative;
}

.sc_home-about .box {
    text-align: center;
    position: relative;
    background-color: #fff;
    margin-top: 30px;
    margin-bottom: 30px;
}

.sc_home-about {
    background-color: #f3f3f3;
    padding-top: 50px;
    padding-bottom: 50px;
}

.sc_home-about .title {
    color: #fff;
    font-size: 22px;
    font-weight: 500;
    background-color: #fff;
    padding-top: 8px;
    padding-bottom: 8px;
}

.sc_home-about .content {
    font-size: 14px;
    color: var(--cl-2);
    padding: 30px;
    text-align: justify;
}

.btnSite.btnSite-djf {
    background-color: #242424;
    color: #fff;
    padding: 10px 20px;
    display: inline-block;
}

.sc_home-about .content-btn {
    padding: 0 30px;
    padding-bottom: 15px;
}

.btnSite.btnSite-djf polygon {
    fill: #fff;
}

.sc_home-slide .owl-dots {
    position: absolute;
    bottom: 10px;
    width: 100%;
}

.sc_slide.hasdot .owl-dot {
    opacity: 0.4;
}

.sc_slide.hasdot .owl-dot.active {
    opacity: 1;
}

.main_menu {
    flex-grow: 1;
}

.main_menu ul {
    font-weight: 500;
}

.main_menu li {
    list-style: none;
    display: inline-block;
    text-align: left;
    margin-left: 30px;
    position: relative;
}

.main_menu .sub-menu li {
    text-align: center;
    margin-left: 0;
}

.main_menu .sub-menu {
    display: none;
    position: absolute;
    top: 100%;
    background-color: transparent;
    text-align: center;
    min-width: 280px;
    left: 50%;
    transform: translateX(-50%);
    border-bottom: 10px solid transparent;
}

.main_menu li:hover>ul {
    display: block;
}

.main_menu .sub-menu li {
    text-align: left;
    margin-left: 0;
    display: block;
    border-bottom: 1px solid #282525;
    background-color: #000;
}

.main_menu li:hover>a {
    color: #fff;
}

.main_menu .sub-menu a {
    line-height: initial;
    padding: 10px 15px;
}

.main_menu .sub-menu:before {
    content: "";
    display: inline-block;
    border-bottom: 15px solid #000;
    border-right: 15px solid transparent;
    border-left: 15px solid transparent;
    position: absolute;
    top: -15px;
    left: 50%;
    transform: translateX(-50%);
}

.animation-box {
    opacity: 0;
}

:root {
    animate-duration: 1.5s;
    --animate-duration: 1.5s;
    --animate-delay: 3s;
    animate-delay: 3s;
}

.sc_tab_content_item:nth-child(1) {
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
}

.sc_tab_content_item:nth-child(2) {
    -webkit-animation-delay: 0.8s;
    animation-delay: 0.8s;
}

.sc_tab_content_item:nth-child(3) {
    -webkit-animation-delay: 1.4s;
    animation-delay: 1.4s;
}

.sc_tab_content_item:nth-child(4) {
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
}

.sc_home-slide .title,
.sc_home-slide .content {
    transition: all 0.5s ease-in-out 0s;
    -webkit-transition: all 0.5s ease-in-out 0s;
    transition-delay: 0s;
    opacity: 1;
}

.sc_home-slide .content {
    transform: translateY(0px);
    position: relative;
    padding: 15px;
}

.sc_home-slide .title {
    transform: translateY(0px);
}

.sc_home-slide .active .title,
.sc_home-slide .active .content {
    opacity: 1;
    transition-delay: 0.5s;
    transform: translateY(0px);
}

.sc_home-slide .content:after {
    content: "";
    display: inherit;
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 2px;
    height: 100%;
    background-color: #000;
    transform: translateX(-50%);
}

.content_p p,
.content_p div,
.content_p h1,
.content_p h2,
.content_p h3,
.content_p h4,
.content_p h5,
.content_p h6,
.content_p ul,
.content_p img,
.content_p ol {
    margin-bottom: 20px;
}

.content_p * {
    max-width: 100%;
}

.content_p {
    font-size: 16px;
}

.content_p a {
    color: #fff;
}

.page-id-23834 .content_p * {
    max-width: inherit;
}

.content_p .aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.content_p ul,
.content_p ol {
    padding-left: 15px;
}

.content_p .wp-caption-text {
    text-align: center;
}

.content_p .wp-caption {
    padding: 0;
    margin-bottom: 30px;
    border: none;
    box-shadow: 0 1px 2px 1px rgb(0 0 0 / 12%);
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: max-content;
}

.wp-caption img {
    display: block;
}

.wpb_video_wrapper iframe {
    width: 100%;
    margin-top: 15px;
    margin-bottom: 15px;
}

.content_more_up {
    height: 200vh;
    overflow: hidden;
    position: relative;
}

.content_more_box {
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 10;
    text-align: center;
    margin-bottom: 0 !important;
    background-image: linear-gradient(to bottom, rgb(255 255 255 / 60%), #fff);
}

.content_more_box a {
    line-height: 60px;
    display: block;
    color: #000;
    font-weight: bold;
    font-size: 20px;
}

.sc_archive-gallery-items .item {
    width: 33.3333%;
}

.sc_home-slide img {
    max-height: calc(100vh - 50px);
    width: 100%;
    object-fit: cover;
}

.sc_header-right a {
    color: #dddddd;
}

a.btn-nbgia {
    background-color: #fff;
    display: inline-block;
    padding: 5px 10px;
    margin: 0 25px;
    color: #fff;
}

a.btn-nbgia:after,
.btnSite:after,
.sc_home-project-item .content .refLink a:after {
    content: "";
    display: inline-block;
    vertical-align: middle;
    margin-left: 15px;
    background-image: url(../images/icon_view.png);
    width: 12px;
    height: 16px;
    background-repeat: no-repeat;
    background-size: 100% auto;
}

.sc_header-right {
    display: flex;
    align-items: center;
}

a.bar_ioc {
    font-size: 20px;
    margin-left: 25px;
    width: 25px;
}

.sc_home-work {
    position: relative;
    background-color: #f3f3f3;
}

.sc_home-work-body {
    padding-top: 50px;
    padding-bottom: 100px;
    background-color: var(--cl-2);
}

.sc_home-project {
    background-color: var(--cl-2);
    overflow: hidden;
}

.sc_home-project-title {
    color: #fff;
    position: relative;
    padding-top: 15px;
    font-size: 27px;
}

.sc_home-project-title:before {
    content: "";
    display: inherit;
    width: 1000px;
    border-top: 1px solid;
    right: 0;
    position: absolute;
    top: 0;
}

.sc_home-project-content {
    color: #dddddd;
    margin-top: 15px;
}

.sc_home-project-top {
    padding-left: calc((100vw - 1250px)/2);
}

.sc_home-project-item .content .refLink {}

.sc_home-project-item .title a {
    color: #fff;
}

.hLineSs:after {
    background-color: var(--cl-2);
}

.sc_home-customer {
    background-color: var(--cl-2);
    padding-top: 70px;
    padding-bottom: 70px;
}

.sc_home-customer-content:after {
    content: "";
    display: inline-block;
    border-right: 30px solid #fff;
    border-bottom: 30px solid transparent;
    position: absolute;
    top: 100%;
    left: 0;
}

.sc_home-customer-content a {
    color: #000;
    border-bottom: 1px solid;
}

.sc_home-customer-content {
    background-color: #fff;
    position: relative;
    padding: 30px;
    z-index: 10;
    margin-bottom: 50px;
}

.sc_home-customer-intro {
    display: flex;
    align-items: center;
}

.sc_home-customer-intro img {
    width: 50px !important;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    margin-left: 25px;
    margin-right: 15px;
}

.sc_home-customer .owl-dots {
    margin-top: 50px !important;
}

.cl5 {
    color: #999;
}

.sc_home-customer-item {
    margin-top: 50px;
}

.sc_footer-text-intro {
    line-height: 2.3;
    margin-top: -8px;
}

.sc_home-bst {
    background-color: var(--cl-2);
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: calc((100vw - 1250px)/2);
}

.sc_home-bst .title {
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 100px;
    line-height: 1;
    margin-bottom: 80px;
}

.sc_home-bst-item {
    display: flex;
}

.sc_home-bst-item .io1 {
    width: 50%;
}

.sc_home-bst-item .io2 {
    width: 50%;
    padding: 30px;
    background-color: #212121;
}

.sc_home-bst-item .io22 {
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    padding-top: 20px;
    padding-bottom: 25px;
    color: #aeaeae;
    margin-bottom: 40px;
    margin-top: 30px;
}

.io21 {
    font-size: 30px;
    font-weight: 600;
}

.io1-full .sc_slide.hasdot .owl-dots {
    margin-top: 0;
    position: absolute;
    width: 100%;
    bottom: 0;
}

.sc_home-bst-item .io1 {
    background-color: #2d2d2d
}

.sc_home-bst-item-slide {
    display: flex;
    align-items: flex-end;
}

.sc_home-bst-item-slide>* {
    width: 50%;
}

.sc_home-bst-item-slide-title {
    font-size: 50px;
    font-weight: 500;
    line-height: 1;
}

.sc_home-bst-item-slide-title:before {
    content: "";
    display: inline-block;
    width: 75%;
    background-color: #fff;
    height: 2px;
    left: 0;
    top: 63%;
    position: absolute;
    z-index: 10;
    transform: translateY(-50%);
}

.sc_home-bst-item-slide-title:after {
    content: "";
    display: inline-block;
    position: absolute;
    width: 15px;
    height: 15px;
    z-index: 100;
    background-color: #fff;
    border-radius: 50%;
    top: 63%;
    transform: translateY(-50%);
    right: 25%;
}

.sc_slide_single.sc_slide.hasdot .owl-dots {
    margin-top: 0px;
    padding-bottom: 15px;
}

.sc_slide_single.sc_slide.hasdot .owl-dot {
    margin-bottom: 0;
}

.btnSite i {
    margin-left: 7px;
}

.sc_home-about .btnSite {
    text-transform: uppercase;
}

.sc_home-about .btnSite:hover:after {
    background-image: url(../images/icon_view.png);
}

.sc_home-slide_project {
    overflow: hidden;
    margin-bottom: 30px;
}

.sc_home-slide_project .sc_home-project-item {
    margin-bottom: 0;
}

.sc_home-slide_project.sc_slide .owl-next {
    right: 15px;
}

.sc_home-slide_project.sc_slide .owl-prev {
    left: 15px;
}

.sc_home-slide_project.sc_slide .owl-next img,
.sc_home-slide_project.sc_slide .owl-prev img {
    width: 13px;
}

.sc-rimg {
    width: 520px;
}

.sc_contact-img {
    position: relative;
}

.sc_contact-img .box_icon {
    position: absolute;
    bottom: 100px;
    right: 0;
}

.sc_contact-img .box_icon a {
    display: block;
    border: 1px solid #fff;
    margin: 5px 0;
    width: 38px;
    height: 38px;
    line-height: 34px;
    text-align: center;
}

.sc_contact-img .box_icon img {
    width: 30px;
}

.banner_page {
    position: relative;
}

.banner_page img {
    width: 100%;
    max-height: 500px;
    object-fit: cover;
}

.box_banner_title {
    background-color: #fff;
    width: 850px;
    max-width: 100%;
    display: block;
    margin: auto;
    margin-bottom: 50px;
}

.banner_page h1 {
    background-color: #fff;
    text-align: center;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    padding: 10px;
    color: var(--cl-2);
    text-transform: uppercase;
    width: 850px;
    max-width: 100%;
    position: absolute;
    bottom: 0;
    transform: translateX(-50%);
    left: 50%;
}

.box_banner_title .content {
    padding: 15px;
    text-align: center;
}

.archive_box_content {
    background-color: var(--cl-2);
}

.col_archive_item img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.col_archive_item .content {
    background-color: #fff;
    padding: 15px;
}

.col_archive_item a {
    color: var(--cl-2);
}

.col_archive_item .btnSite {
    margin-top: 15px;
    padding: 5px 10px;
}

.col_archive_item {
    margin-bottom: 30px;
}

.box_meta_single {
    margin-top: 15px;
    margin-bottom: 15px;
}

.box_meta_single img {
    width: 30px;
}

.sidebar_title {
    background-color: var(--cl-2);
    text-align: center;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    padding: 10px;
    margin-bottom: 10px;
}

.sidebar_list_post .item {
    display: flex;
    margin-bottom: 10px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
}

.sidebar_list_post .item .thumb {
    flex: 0 0 70px;
}

.sidebar_list_post .item img {
    width: 70px;
    height: 70px;
    object-fit: cover;
}

.sidebar_list_post .item .title {
    flex-grow: 1;
    margin-left: 10px;
}

.sidebar_list_post .item .title a {}

.sidebar_list_post .item:last-child {
    border-bottom: 0 solid #ddd;
}

.sc_home-customer-quote {
    color: #000;
    font-size: 20px;
    margin-bottom: 10px;
}

.breadcrumb a:after {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\f105";
    color: #fff;
    font-size: 25px;
    vertical-align: sub;
    margin-left: 10px;
    margin-right: 5px;
}

.breadcrumb {
    margin-bottom: 15px;
}

.box_meta_single_title {
    background-color: var(--cl-2);
    color: #fff;
    text-align: center;
    padding: 10px 10px;
    font-weight: 500;
}

.box_meta_single_title .title {
    color: #fff;
    font-weight: 400;
}

.box_meta_single_content {
    background-color: #fff;
    color: var(--cl-2);
    display: flex;
    margin-bottom: 30px;
}

.box_meta_single_content .item {
    flex: 0 0 20%;
    padding: 10px 3px;
    display: flex;
    align-items: center;
    border-left: 1px solid #f3f3f3;
}

.box_meta_single_content .item:first-child {
    border-left: 0;
}

.box_meta_single_content .item img {
    width: 45px;
    margin-right: 5px;
}

.box_meta_single_content .fw-b {
    letter-spacing: -0.5px;
}

.box_meta_single_gallery .row {
    margin-left: -7.5px;
    margin-right: -7.5px;
}

.box_meta_single_gallery .row>* {
    padding-left: 7.5px;
    padding-right: 7.5px;
}

.box_meta_single_gallery .item {
    position: relative;
}

a.thumb_more {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(0 0 0 / 51%);
}

a.thumb_more span {
    color: #fff;
    font-size: 30px;
    font-weight: 600;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.wp-caption em {
    display: block;
    background-color: #fff;
    color: var(--cl-2);
    padding: 10px;
}

.content_p .wp-caption p,
.content_p .wp-caption img {
    margin-bottom: 0 !important;
}

form.form_search {
    position: absolute;
    top: 100%;
    background-color: #fff;
    padding: 10px;
    right: 0;
    display: flex;
    align-items: center;
    display: none;
}

form.form_search.active {
    display: block;
}

form.form_search input {
    min-width: 200px;
    line-height: 35px;
    border: 0;
    padding: 0 10px;
}

form.form_search button {
    border: 0;
    background-color: #fff;
    line-height: 35px;
    padding: 0 10px;
}

.bg_2 {
    background-color: var(--cl-2);
}

.sc_single-gallery {
    margin-top: 30px;
}

.sc_single-gallery .item {
    width: 20%;
    padding: 7.5px;
    transition: all 1.5s ease-in-out 0s;
    -webkit-transition: all 1.5s ease-in-out 0s;
    top: 0;
    left: 40%;
    position: absolute;
    display: block;
}

.loadMore_archive.loading:after {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\f021";
    -webkit-animation: fa-spin 2s infinite linear;
    animation: fa-spin 2s infinite linear;
    margin-left: 15px;
    background: transparent;
}

.archive_filter {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    margin-bottom: 50px;
}

.archive_filter a {
    color: #999;
    border-left: 1px solid #999;
    text-align: center;
    padding: 10px;
    border-top: 1px solid #999;
    border-bottom: 1px solid #999;
    min-width: 210px;
}

.archive_filter a:nth-child(6),
.archive_filter a:nth-child(7),
.archive_filter a:nth-child(8),
.archive_filter a:nth-child(9),
.archive_filter a:nth-child(10) {
    margin-top: -1px;
}

.archive_filter a:nth-child(5),
.archive_filter a:last-child {
    border-right: 1px solid #999;
}

.archive_filter a:hover {
    background-color: #fff;
    color: var(--cl-2);
}

.intro_support {
    bottom: 0;
    z-index: 100;
    background-color: #0c0c0c;
    text-align: center;
    padding: 10px;
    position: sticky;
    display: none !important;
}

.intro_support a {
    background-color: #fff;
    color: #fff;
    display: inline-block;
    padding: 0 10px;
    margin: 0 7.5px;
    font-size: 12px;
    line-height: 30px;
    font-weight: 500;
}

.intro_support img {
    width: 20px;
    margin-right: 7px;
}

.io2-doubleMobile {
    display: none;
}

.sc_home-gallery .item {
    display: block;
    position: relative;
    left: 0;
    top: 0;
    float: left;
}

.sc_home-gallery-items {
    display: table;
    width: 100%;
    clear: left;
}

.scroll_top {
    display: block;
    background-color: #fff;
    color: #fff;
    width: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
    position: fixed;
    bottom: 70px;
    right: 15px;
    font-size: 25px;
    display: none !important;
}

.sc_single-gallery .item {
    display: block;
    position: relative;
    left: 0;
    top: 0;
    float: left;
}

.box_meta_single_gallery_thumbanil img {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.kk-star-ratings.kksr-align-left {
    display: flex;
    flex-direction: column;
}

.kk-star-ratings .kksr-stars {
    margin-bottom: 0;
}

.kk-star-ratings .kksr-stars .kksr-stars-active,
.kk-star-ratings .kksr-stars .kksr-stars-inactive {
    margin-bottom: 0;
}

.kk-star-ratings .kksr-stars .kksr-star {
    margin-bottom: 0;
}

.lwptoc-light .lwptoc_i {
    margin-bottom: 0;
}

.lwptoc-light .lwptoc_i div {
    margin-bottom: 0;
}

.content_p blockquote {
    border-left: 5px solid #fff;
    padding-left: 15px;
    margin-left: 15px;
}

.tld_popup_fixed {
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 1000;
}

.tld_faq_box {
    bottom: 90px;
}

.tld_popup_active {
    z-index: 1001;
}

.tld_popup_body {
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    width: 350px;
    box-shadow: 0px 0 5px #f3f3f3;
}

.tld_chat .title {
    background-color: #FFB600;
    color: #fff;
    padding-left: 100px;
    line-height: 70px;
    font-size: 18px;
    background-image: url(../images/imh.png);
    background-size: 45px;
    background-repeat: no-repeat;
    background-position: 28px center;
}

.tld_chat .items {
    padding: 10px 5px;
}

.tld_chat .items a {
    display: block;
    background-color: #F3F3F3;
    padding: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 10px;
    padding-left: 95px;
    background-size: 35px;
    background-repeat: no-repeat;
    background-position: 30px center;
}

.tld_chat .items .clc_b {
    font-size: 15px;
}

.tld_chat .items .clc_n {
    font-size: 12px;
}

.tld_chat .items a.fb {
    background-image: url(../images/imfb.png);
}

.tld_chat .items a.zl {
    background-image: url(../images/imzl.png);
}

.tld_chat .items a.call {
    background-image: url(../images/imcall.png);
}

.tld_chat .items a.chat {
    background-image: url(../images/imcl.png);
}

.tld_chat_close,
.tld_faq_close {
    background-color: #FFB600;
    box-shadow: 0px 0 5px #f3f3f3;
    display: inline-block;
    width: 30px;
    text-align: center;
    border-radius: 50px;
    overflow: hidden;
    line-height: 28px;
    padding: 0 8px;
    padding-bottom: 2px;
    margin-bottom: 0px;
}

.tld_chat_box_content,
.tld_faq_box_content {
    display: none;
}

a.tld_chat_show,
.tld_faq_show {
    display: inline-block;
    width: 70px;
}

.search_box {
    display: flex;
    width: 665px;
    max-width: 100%;
    margin: auto;
    margin-bottom: 35px;
}

.search_box input {
    line-height: 45px;
    height: 45px;
    border: 0;
    flex-grow: 1;
    padding: 0 23px;
    font-size: 15px;
}

.search_box button {
    background-color: #fff;
    color: #000000;
    height: 45px;
    line-height: 45px;
    border: 0;
    font-size: 15px;
    padding: 0 20px;
}

.faqsBox {
    counter-reset: line-number;
    margin-bottom: 55px;
}

.faqsBox .item .title {
    counter-increment: line-number;
}

.faqsBox .item .title:before {
    content: counter(line-number);
}

.faqsBox .title {
    display: block;
    background-color: #fff;
    padding: 25px;
    font-size: 15px;
    position: relative;
    padding-left: 95px;
    cursor: pointer;
}

.faqsBox .item .title:after {
    content: counter(line-number);
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 76px;
    text-align: center;
    font-size: 30px;
}

.faqsBox .item .title:before {
    content: "";
    display: inline-block;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 76px;
    text-align: center;
    font-size: 30px;
    background-color: #fff;
}

.faqsBox .content {
    background-color: #fff;
    padding: 25px;
    font-size: 13px;
    margin-top: 2px;
    display: none;
}

.faqsBox .item.active .content {
    display: block;
}

.faqsBox .item {
    margin-bottom: 10px;
}

.faqsBox .item .title i {
    position: absolute;
    right: 25px;
    font-size: 30px;
    top: 50%;
    transform: translateY(-50%);
    color: #7f7979;
    cursor: pointer;
}

.faqsBox .item.active .title i:before {
    content: "\f106";
}

.tld-popup-faq-search {
    display: flex;
    width: 100%;
}

.tld-popup-faq-search input {
    height: 45px;
    line-height: 43px;
    flex-grow: 1;
    border: 1px solid #fff;
    background: transparent;
    border-radius: 5px 0 0 5px;
    border-right: 0;
    padding: 0 10px;
    color: #fff;
    font-size: 10px;
}

.tld-popup-faq-search button {
    width: 60px;
    line-height: 45px;
    border: 0;
    height: 45px;
    text-align: center;
    border-radius: 0 5px 5px 0;
    background-color: #F3F3F3;
}

.tld-popup-faq-search button img {
    width: 25px;
}

.tld_faq-top-title {
    background-color: #fff;
    padding: 20px 10px;
}

.tld_popup-faq-items {
    padding: 10px 5px;
}

.tld_popup-faq-items .item {
    margin-top: 15px;
    margin-bottom: 15px;
}

.tld_popup-faq-items .title {
    background-color: #F3F3F3;
    padding: 10px 15px;
    border-radius: 10px;
    padding-right: 30px;
    line-height: 1.2;
    position: relative;
    cursor: pointer;
}

.tld_popup-faq-items .content {
    padding: 10px 15px;
    font-size: 13px;
    padding-bottom: 0;
    display: none;
}

.tld_popup-faq-items .title i {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}

.tld_popup-faq-items .item.active .title i:before {
    content: "\f106";
}

.tld_popup-faq-items .item.active .content {
    display: block;
}

.tld_popup-faq-items .content .rmore,
.faqsBox .content .rmore {
    text-transform: uppercase;
    font-size: 10px;
    font-weight: 500;
    color: #555;
}

.tld_popup-faq-items .content .rmore:after,
.faqsBox .content .rmore:after {
    content: "";
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
    background-image: url(../images/sd2.png);
    width: 8px;
    height: 11px;
    background-repeat: no-repeat;
    background-size: 100% auto;
}

.tld_popup-faq-items .boxFA {
    min-height: 250px;
}

.single_post-related,
.single_post-faq-title {
    color: #fff;
    text-align: center;
    background-color: #000;
    font-size: 20px;
    padding: 10px 15px;
    margin-bottom: 5px;
}

.faqsBoxNoList.faqsBox .item .title:before,
.faqsBoxNoList.faqsBox .item .title:after {
    display: none;
}

.faqsBoxNoList.faqsBox .title {
    padding: 10px 20px;
    padding-right: 30px;
}

.faqsBoxNoList.faqsBox .item {
    border-bottom: 1px solid #ccc;
    margin-bottom: 0;
}

.faqsBoxNoList.faqsBox .content {
    margin-top: 0;
    padding: 20px;
}

.faqsBoxNoList.faqsBox .item .title i {
    font-size: 20px;
    right: 10px;
}

.sc_footer-text.sc_footer-text-intro p {
    margin-bottom: 0;
}

.content_p table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 15px;
}

.content_p table td,
.content_p table th {
    border: 1px solid #ddd;
    padding: 5px;
}

.content_p table th {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: left;
    background-color: #ffba00;
    color: white;
}

.btn-hotline2 {
    margin-right: 15px;
}

.sc_jobs-pic1 {
    position: absolute;
    top: 50px;
    right: 0;
    max-width: 50%;
}

.sc_jobs-top {
    position: relative;
    padding-bottom: 50px;
    padding-top: 50px;
}

.sc_jobs-top .sc_home-project-title {
    padding-bottom: 15px;
    margin-bottom: 50px;
}

.sc_jobs-top .sc_home-project-title:before {
    top: unset;
    bottom: 0;
}

.sc_jobs-top2 {
    background-color: var(--cl-2);
    padding-bottom: 70px;
    padding-top: 70px;
}

.sc_jobs-top2-items .item {
    text-align: center;
    color: #EFEFEF;
    font-size: 14px;
    line-height: 2;
    margin-top: 40px;
    margin-bottom: 40px;
}

.sc_tab_content_item .title {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;
    color: #fff;
}

.sc_jobs-top2-item-n {
    font-size: 21px;
    text-transform: uppercase;
    color: #fff;
    font-weight: 500;
}

.sc_jobs-top2-item-i img {
    height: 80px;
    margin-bottom: 40px;
}

.sc_banner-box {
    width: 850px;
    max-width: 100%;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: #fff;
    text-align: center;
    border-bottom: 1px solid;
}

.sc_banner-box .content {
    padding: 15px;
}

.banner_page .sc_banner-box h1 {
    position: relative;
}

.sc_tabs-nav {
    display: flex;
    justify-content: center;

}

.sc_tabs-nav a {
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    color: #fff;
    background-color: #fff;
    padding: 10px 30px;
}

.sc_tabs-nav a:hover,
.sc_tabs-nav a.active {
    background-color: var(--cl-2);
    color: #fff;
}

.sc_tabs-nav-box-bot {
    position: relative;
}

.sc_tabs-nav-bot {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
}

.sc_tdung-projects {
    background-color: var(--cl-2);
    padding-bottom: 70px;
    padding-top: 70px;
}

.sc_tdung-loop {
    background-color: #fff;
    margin-top: 15px;
    margin-bottom: 15px;
}

.sc_tdung-loop .title {
    text-align: center;
    background-color: #fff;
    text-transform: uppercase;
    padding: 10px 15px;
    font-weight: 500;
    font-size: 16px;
}

.sc_tdung-loop .content {
    padding: 15px 30px;
}

.sc_tdung-loop .content img {
    width: 14px;
    margin-right: 20px;
}

.sc_tdung-loop .sa {
    margin: 15px 0;
    font-size: 16px;
}

.sc_tdung-loops {
    margin-top: 50px;
    margin-bottom: 50px;
}

.sc_tdung-sbsme-items .content {
    margin-top: 25px;
    text-align: justify;
    font-size: 16px;
}

.sc_tdung-sbsme-items {
    margin-top: 50px;
}

.sc_tdung-sbsme {
    margin-top: 50px;
    margin-bottom: 50px;
}

.sc_jobs-top2-item-d {
    text-align: justify;
}

.sc_tdung-sbsme-videos .title {
    background-color: #fff;
    text-align: center;
    font-size: 14px;
    padding: 10px 15px;
    font-style: italic;
}

a.hasVideo {
    position: relative;
    display: block;
}

a.hasVideo:before {
    background-image: url(../images/tuyendung/video-icon.png);
    content: "";
    display: inline-block;
    width: 60px;
    height: 60px;
    background-size: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    border-radius: 50%;
}

a.hasVideo:hover:before {
    background-image: url(../images/tuyendung/video-icon-hover.png);
}

.sc_tdung-sbsme-videos {
    margin-top: 50px;
}

.sc_tdung-box-videos {
    background-color: var(--cl-2);
    padding-bottom: 70px;
    padding-top: 70px;
}

.sc_phattrien-daotao {
    color: #fff;
    margin-top: 30px;
    margin-bottom: 50px;
}

.titleLine-bottom {
    color: #fff;
    position: relative;
    padding-top: 15px;
    font-size: 27px;
}

.sc_home-project-title.lineBottom:before {
    top: unset;
    bottom: 0;
}

.sc_home-project-title.lineRight:before {
    left: 0;
}

.sc_daingo-items .title,
#tuyendung_quytrinh .title,
.single_tuyendung .title {
    padding-bottom: 15px;
    margin-bottom: 30px;
    padding-top: 0;
}

.sc_daingo-bt1 {
    text-align: justify;
}

.contentlh18 {
    line-height: 1.8;
}

.sc_daingo-items .item,
#tuyendung_quytrinh .item,
.single_tuyendung .item {
    margin-top: 100px;
    margin-bottom: 100px;
}

.sc_daingo-pics {
    margin-top: 50px;
    margin-bottom: 50px;
}

/*.snt {
    background-image: url(../images/tuyendung/offsetL.png);
    background-repeat: no-repeat;
    padding-left: 20px;
    background-position: 0 8px;
    background-size: 10px;
}*/
.snt:before {
    content: "";
    display: inline-block;
    background-image: url(../images/tuyendung/offsetL.png);
    background-repeat: no-repeat;
    background-size: 10px;
    min-width: 10px;
    height: 10px;
    margin-right: 10px;
}

.sc_quytrinh-content {
    text-align: justify;
}

.sc_tabs-body-item {
    display: none;
}

.sc_tabs-body-item.active {
    display: block;
}

#phat_trien_con_nguoi_sbs {
    padding-top: 70px;
}

.sc_singletd-yeucau {
    text-align: center;
    color: #fff;
}

.sc_singletd-yeucau .item {
    display: inline-grid;
    width: 33%;
    padding-left: 25px;
    padding-right: 25px;
    margin-bottom: 50px;
    margin-top: 50px;
}

.sc_singletd-yeucau .title {
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 500;
    margin-top: 35px;
    margin-bottom: 15px;
}

.sc_singletd-yeucau .content {
    line-height: 1.8;
    text-align: justify;
}

.singleTuyendung {
    overflow: hidden;
}

.contentlh18 .cl a,
.contentlh18 a {
    color: #fff;
}

.textJu {
    text-align: justify;
}

.sb_page-tuyendung .owl-prev {
    left: 10px;
}

.sb_page-tuyendung .owl-next {
    right: 10px;
}

.row.sc_tdung-loops .col-lg-4:nth-child(3n+1) {
    clear: left;
}

.form_contact input::-webkit-input-placeholder,
.form_contact textarea::-webkit-input-placeholder {
    color: #ccc;
}

.form_contact input:-moz-placeholder,
.form_contact textarea:-moz-placeholder {
    color: #ccc;
    opacity: 1;
}

.form_contact input::-moz-placeholder,
.form_contact textarea::-moz-placeholder {
    color: #ccc;
    opacity: 1;
}

.form_contact input:-ms-input-placeholder,
.form_contact textarea:-ms-input-placeholder {
    color: #ccc;
}